{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

  <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>
      <img class="iconPhp" src="{{ site.baseurl }}/assets/images/{{ skills.iconPhp }}" alt="techno icon" />
      <img class="iconJs" src="{{ site.baseurl }}/assets/images/{{ skills.iconJs }}" alt="techno icon" />
      <img class="iconBootstrap" src="{{ site.baseurl }}/assets/images/{{ skills.iconBootstrap }}" alt="techno icon" />
      <img class="iconSymfony" src="{{ site.baseurl }}/assets/images/{{ skills.iconSymfony }}" alt="techno icon" />
      <img class="iconGit" src="{{ site.baseurl }}/assets/images/{{ skills.iconGit }}" alt="techno icon" />
      <!--<div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div>//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
